
<h1>Welcome to Admin Panel</h1>
<!-- Link to show all product -->
<%= link_to "Product List", products_path, class: "btn btn-primary" %>

<!-- Link to add a new product -->
<%= link_to "Add New Product", new_product_path, class: "btn btn-primary" %>

<!-- Link to all category -->
<%= link_to "Category List", categories_path, class: "btn btn-primary" %>

<!-- Link to add a new category -->
<%= link_to "Add New Category", new_category_path, class: "btn btn-primary" %>

<!-- Link to All Users -->
<%= link_to "All Users", users_public_index_path, class: "btn btn-primary" %>


