<h1>New Product</h1>
<%= form_with(model: @product) do |form| %>
  <%= csrf_meta_tags %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description, rows: 5 %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.submit "Create Product" %>
  </div>
<% end %>
