<%= form_with(model: @product,data: { turbo: false }) do |form| %>
  <%= csrf_meta_tags %>
    <div>
      <%= form.text_field :user_id, type: "hidden", value: current_user.id %>
    </div>
  <div>
  <% invalid = @product.errors.include?(:name)%>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% if invalid %>
        <p style="color:red">
          <%=  @product.errors.full_messages_for(:name).join(" ,")%>
        </p>
      <% end %>
  </div>
  <div>
  <% invalid =  @product.errors.include?(:description)%>
    <%= form.label :description %>
    <%= form.text_area :description, rows: 5 %>
    <% if invalid %>
        <p style="color:red">
          <%=  @product.errors.full_messages_for(:description).join(" ,")%>
        </p>
      <% end %>
  </div>
  <div>
  <% invalid =  @product.errors.include?(:price)%>
    <%= form.label :price %>
    <%= form.number_field :price %>
    <% if invalid %>
        <p style="color:red">
          <%=  @product.errors.full_messages_for(:price).join(" ,")%>
        </p>
      <% end %>
  </div>
  <div>
  <% invalid =  @product.errors.include?(:quantity)%>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
    <% if invalid %>
        <p style="color:red">
          <%=  @product.errors.full_messages_for(:quantity).join(" ,")%>
        </p>
      <% end %>
  </div>
  <div>
    <%= form.file_field :images, multiple:true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
