<h1>Products</h1>
<%= form_tag search_products_path, method: :get do %>
  <%= text_field_tag :keyword, params[:keyword], placeholder: 'Search by keyword' %>
  <select name="category_id" class="form-control" style = "width: 200px" >
    <option value="">Select a category</option>
    <% Category.all.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <%= submit_tag 'Search' %>
<% end %>


<%= link_to 'New Product', new_product_path %>
<%= paginate @products %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Image</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td><% product.images.each do |image| %>
    <%= image_tag(image, style: "
      max-width: 50%;
  height: auto; object-fit: contain;") %>
  <% end %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= button_to 'Delete', product_path(product), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


