<%= render partial: "cart/cart" if @render_cart %>
<%= form_tag search_products_path, method: :get do %>
  <%= text_field_tag :keyword, params[:keyword], placeholder: 'Search by keyword' %>
  <select name="category_id" class="form-control" style="width: 200px">
    <option value="">Select a category</option>
    <% Category.all.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <%= submit_tag 'Search' %>
<% end %>
<div class="filter-form">
  <%= form_with(url: products_path, method: :get) do |form| %>
    <%= form.label :filter, 'Filter by:' %>
    <%= form.select :filter, options_for_select([['Sale', 'sale'], ['New', 'new']]), include_blank: 'All' %>
    <%= form.submit 'Apply' %>
  <% end %>
</div>

<%= paginate @products %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Image</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <% if product.on_sale %>
        <td><%= product.sale_price %></td>
        <% else %>
        <td><%= product.price %></td>
        <%end%>
        <td><%= product.quantity %></td>
        <td>
          <% product.images.each do |image| %>
            <%= image_tag(image, style: "max-width: 50%; height: auto; object-fit: contain;") %>
          <% end %>
        </td>
        <td>
      <% if product.on_sale %>
        <span class="badge bg-secondary">Sale</span>
      <% end %>
    </td>
    <td>
    <% if product.created_at >= 3.days.ago %>
            <span class="badge bg-success">New</span>
          <% end %>
    </td>
        <td><%= link_to 'Show', product %></td>
    <td>
<% if current_user && current_user.admin? %>
          <% if product.on_sale %>
          <%= button_to "Set Off Sale", update_sale_status_product_path(product), method: :patch, params: { on_sale: false }, class: 'btn btn-danger' %>
        <% else %>
          <%= button_to "Set On Sale", update_sale_status_product_path(product), method: :patch, params: { on_sale: true }, class: 'btn btn-success' %>
        <% end %>
    </td>
    <% end %></td></td>
    <td>
    <%= form_with(url: cart_add_path) do |f| %>
      <%= f.hidden_field :id, value: product.id %>
      <%= f.number_field :quantity, value: 0, min: 1 %>
      <%= f.submit "Add To Cart" %>
        <% end %>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>
