<%= link_to 'Back', products_path %>
<!-- Display the search results -->
<% if @products.present? %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Image</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td><% product.images.each do |image| %>
    <%= image_tag(image, style: "
      max-width: 50%;
  height: auto; object-fit: contain;") %>
  <% end %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>No products found for the given keyword.</p>
<% end %>
